.thumb-button {
  width: 5rem;
  height: 5rem;
  background-color: black;
  border: 1px solid rgb(0, 131, 28);
  transition: all 0.2s;
  padding: 0;
  z-index: 1;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.thumb-button:hover {
  transform: scale(1.1);
}
