.thumbnails-section {
  height: 15vh;
  background-color: rgb(0, 0, 0);
}

.thumbnails-container {
  justify-content: center;
  width: 80%;
  margin-inline: auto;
  white-space: nowrap;
  text-align: center;
  overflow-x: auto;
}
